/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Main */
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1{
    padding-bottom:20px;
}

p {
    margin: 10px 0;
}

/* Nav bar*/
#navbar 
{
    background: #8C6C8A;
    color: #fff;
    overflow: auto;
}

#navbar a
{
    color: #fff;
}