@viewport { width: device-width; }
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* @firstFont {
    font-family: 'Lobster', cursive;
    font-size: 30px;
} */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@media only screen and (orientation: landscape) {
   
    .portrait_only   { display: none; }
    .sidebar         { width:40%; }
    .sidebar2        { display: none; }
    .main            { margin-left:40%;}
}
 
/* Portrait mode */
@media only screen and (orientation: portrait) {
    .landscape_only  { display: none; }
    .sidebar         { display: none; }
    .sidebar2        { margin:0 auto;
                        align-items: center;
                        width: 90%;
                        height: auto; }
    .main            { margin-left: 0;}
}

/*Font*/
p h1{
    font-family: 'PT Sans Narrow', sans-serif;
}


.titleFont {
    font-family: 'Lobster', cursive;
    color: #fff;
    margin-top:0;
    margin-bottom: 7%;
}

.greeting {
    color: #A6032F;
}

.text-grey {
    color:#757575!important;
    font-size: 2.5vw;
}

.opacity {
    opacity:0.60;
    margin: 10px;
}

/*Sidebar image*/
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/profile2.png');
    min-height: 100%;
}

body{
    background-color: #0E2622;
    margin: 0;
    padding: 0;
    
}
.sidebar{
    height:100%;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin:0;
}
.main {
    transition:margin-left .4s;
    padding:4% 4%!important;
    float:right;
}

.center {
    display:inline-block;
    width:auto;
    padding:10% 5%;
    
}
.wrapper{
    text-align: center;
    padding-top: 10%;
}
.downloadButton{
    /* border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    cursor:pointer;
    white-space:nowrap;
    color:#000!important;
    background-color:#f1f1f1!important;
    padding:12px 24px!important;
    margin-top:16px!important;
    text-align:center;
    position:absolute;
    top:50%; */
}
.jumbo{
    font-size:5.5vw!important;
    margin-bottom: 0;
}
.name {
    text-align: center;
    padding-left:10%;
    margin-bottom: 3%;
}

.nameFont {
    color:#F2B90C;
    font-size: 8vw;
}

.shortDescription {
    font-size: 3vw;
    color: #fff;

    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;

    word-wrap: break-word;
    word-break:normal;
}

.downloadButton {
    border: 1px solid #C0C5D7; 
    background-color: #C0C5D7; 
    color: black;
}

.section {
    margin-top:16px!important;
    margin-bottom:16px!important
}

