/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Main */
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1{
    padding-bottom:20px;
}

p {
    margin: 10px 0;
}

/* Utility Classes*/
.container {
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

/* Nav bar*/

.topLine {
    height: 5px;
    background: #091626;
}

#navbar 
{
    background: #fff;
    color: #333;
    overflow: auto;
}

#navbar a
{
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}


#navbar .container .current img
{
    height: 25px;
}

#navbar ul {
    list-style : none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 15px;
    text-align: center;
}


#navbar ul li a:hover {
    background: grey;
    color: #f7c08a;
}
#showcase .container .showcase-content .gap {
    height: 100px;
}

#showcase .container .showcase-content .firstPoint {
    padding-top: 40px;
}
#showcase .container .showcase-content img {
    
    width: 380px;
    border-radius: 5%;
    overflow: auto;
    display: block;
    margin: auto;
}
.introduction {
    height: 300px;
}

.midMark {
    background: #0F222B;
    height: 350px;
}

.works {
    background: #fff;
    height: 700px;
}

.footer {
    background: #7A7158;
    height: 250px;
}